@charset "utf-8";
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  text-decoration: none;
  text-decoration: underline;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
legend {
  color: #000;
}
fieldset,
img {
  border: none;
}
html {
  position: relative;
  overflow-x: hidden;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
body,
button,
input {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
}
.clear {
  clear: both;
}
.clear::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  font-size: 20px;
}
.common-height-top {
  position: relative;
  height: 110px;
}
.common-head-menu {
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: #FFF;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 5px 1px #e6e6e6;
}
.common-head-menu .menu-nav {
  width: 100%;
  width: 1460px;
  margin: 0 auto;
  height: 100%;
}
.common-head-menu .menu-nav .logo {
  padding-top: 25px;
  padding-left: 30px;
  height: 60px;
}
.common-head-menu .stair-menu {
  height: 100%;
}
.common-head-menu .stair-menu li {
  float: left;
  position: relative;
  padding-left: 70px;
  height: 100%;
}
.common-head-menu .stair-menu li:first-child {
  padding-left: 0;
}
.common-head-menu .stair-menu li.english-pc-none {
  display: none;
}
.common-head-menu .stair-menu li a {
  color: #666;
  font-size: 18px;
  position: relative;
  display: block;
}
.common-head-menu .stair-menu li a::before {
  content: "";
  position: absolute;
  border-top: 5px solid #26563f;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all .3s;
}
.common-head-menu .stair-menu li:hover a {
  color: #000;
  text-decoration: none;
}
.common-head-menu .stair-menu li:hover a::before {
  opacity: 1;
}
.common-head-menu .stair-menu li:hover .second-menu {
  display: block;
}
.common-head-menu .stair-menu li .second-menu {
  display: none;
  position: absolute;
  top: 110px;
  background-color: #fff;
  left: 50%;
  margin-left: -146px;
  z-index: 99;
  padding: 8px 30px;
  box-shadow: 0 0 2px #e6e6e6;
}
.common-head-menu .stair-menu li .second-menu a {
  display: block;
  width: 340px;
  font-size: 14px;
  position: relative;
  line-height: 78px;
  color: #000;
  opacity: .5;
  text-align: left;
  text-indent: 88px;
  border-bottom: 1px solid #dcd9d9;
  background: url(../images/right-arrow.png) no-repeat 303px center;
  background-size: 8px auto;
  transition: all .2s;
}
.common-head-menu .stair-menu li .second-menu a img {
  position: absolute;
  left: 24px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
}
.common-head-menu .stair-menu li .second-menu a.active {
  opacity: 1;
}
.common-head-menu .stair-menu li .second-menu a:hover {
  opacity: 1;
}
.common-head-menu .stair-menu li .second-menu a::after {
  content: "";
  display: block;
  height: 2px;
  top: -1px;
  position: absolute;
  background-color: #E8E8E8;
  opacity: .2;
  width: 130px;
  left: 15px;
}
.common-head-menu .stair-menu li .second-menu a::before {
  display: none;
}
.common-head-menu .stair-menu li .second-menu a:last-child {
  border-bottom: none;
}
.common-head-menu .stair-menu li .second-menu a:first-child::after {
  display: none;
}
.footer {
  background-color: #FFF;
  position: relative;
  border-top: 10px solid #f4f0ea;
  padding-top: 116px;
}
.footer .stair-menu {
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 90px;
  border-bottom: 3px solid #f4f0ea;
}
.footer .stair-menu li {
  width: 98px;
  float: left;
  margin-right: 100px;
  text-align: center;
}
.footer .stair-menu li a {
  color: #000;
  font-size: 18px;
  display: block;
  margin-bottom: 46px;
}
.footer .stair-menu li a:hover {
  text-decoration: none;
}
.footer .stair-menu li .second-menu a {
  font-size: 14px;
  opacity: .5;
  line-height: 2.6em;
  margin-bottom: 0;
  transition: all .2s;
}
.footer .stair-menu li .second-menu a:hover {
  opacity: 1;
}
.footer .stair-menu li:first-child {
  width: 58px;
  text-align: left;
}
.footer .stair-menu li:last-child {
  float: right;
  width: 120px;
  position: relative;
  overflow: hidden;
  margin-right: 0;
}
.footer .stair-menu li:last-child .img-code {
  width: 120px;
  height: 120px;
  display: block;
}
.footer .stair-menu li:last-child .attention {
  width: 260px;
  padding-top: 10px;
  font-size: 18px;
  color: #000;
  letter-spacing: 16px;
  line-height: 1.4em;
  text-align: left;
}
.footer .copyright-message {
  width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
  line-height: 26px;
}
.footer .copyright-message a {
  color: #000;
  font-size: 14px;
  float: right;
  vertical-align: bottom;
}
.footer .copyright-message a:hover {
  text-decoration: none;
}
.footer .copyright-message a.phone {
  font-size: 18px;
  float: left;
  display: block;
  padding-left: 60px;
  background: url(../images/icon/call.png) no-repeat left center;
  background-size: 30px auto;
}
.footer .copyright-message a.mail {
  font-size: 18px;
  float: left;
  display: block;
  padding-left: 60px;
  background: url(../images/icon/mail.png) no-repeat left center;
  background-size: 30px auto;
  margin-left: 36px;
}
@media screen and (max-width: 1536px) {
  .common-head-menu .menu-nav {
    width: 1080px;
  }
  .common-head-menu .menu-nav .logo {
    padding-left: 0;
  }
  .common-head-menu .stair-menu {
    max-width: 1280px;
  }
  .common-head-menu .stair-menu li {
    padding-left: 54px;
  }
  .common-head-menu .stair-menu li .second-menu {
    margin-left: -172px;
  }
  .footer .stair-menu {
    width: 1080px;
  }
  .footer .stair-menu li {
    margin-right: 62px;
  }
  .footer .stair-menu li:first-child {
    margin-right: 50px;
  }
  .footer .copyright-message {
    width: 1080px;
  }
  .footer .copyright-message a {
    font-size: 12px;
  }
  .footer .copyright-message a.phone {
    font-size: 14px;
    background-size: 18px auto;
    padding-left: 28px;
  }
  .footer .copyright-message a.mail {
    margin-left: 20px;
    background-size: 18px auto;
    padding-left: 28px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1280px) {
  .common-height-top {
    height: 100px;
  }
  .common-height-top .common-head-menu {
    height: 100px;
    line-height: 100px;
  }
  .common-height-top .common-head-menu .menu-nav {
    width: 830px;
  }
  .common-height-top .common-head-menu .menu-nav .logo {
    padding-top: 25px;
    height: 50px;
  }
  .common-height-top .common-head-menu .stair-menu li {
    padding-left: 24px;
  }
  .common-height-top .common-head-menu .stair-menu li a {
    font-size: 20px;
  }
  .common-height-top .common-head-menu .stair-menu li .second-menu {
    top: 100px;
    margin-left: -185px;
  }
  .footer {
    padding-top: 88px;
  }
  .footer .stair-menu {
    width: 830px;
  }
  .footer .stair-menu li {
    margin-right: 20px;
  }
  .footer .stair-menu li:first-child {
    margin-right: 36px;
  }
  .footer .copyright-message {
    width: 886px;
    padding-top: 39px;
    transform: scale(0.94);
  }
  .footer .copyright-message a {
    font-size: 12px;
  }
  .footer .copyright-message a.phone {
    font-size: 12px;
  }
  .footer .copyright-message a.mail {
    font-size: 12px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 888px) {
  .common-height-top .common-head-menu .menu-nav {
    width: 750px;
  }
  .footer .stair-menu {
    width: 750px;
    padding-bottom: 39px;
  }
  .footer .stair-menu li {
    margin-right: 8px;
  }
  .footer .stair-menu li a {
    font-size: 18px;
  }
  .footer .stair-menu li:first-child {
    margin-right: 0;
  }
  .footer .stair-menu li .second-menu a {
    font-size: 16px;
  }
  .footer .copyright-message {
    width: 886px;
    transform: scale(0.839999);
    position: relative;
    left: -8px;
  }
}
@media screen and (max-width: 750px) {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product-banner {
    width: 10rem;
    margin: 0 auto;
  }
  .product-banner img {
    display: block;
    width: 100%;
  }
  .common-height-top {
    height: 1.6rem;
  }
  .common-height-top .common-head-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 10rem;
    height: 1.6rem;
    line-height: 1.6rem;
    z-index: 9998;
  }
  .common-height-top .common-head-menu .menu-nav {
    position: relative;
    width: 10rem;
  }
  .common-height-top .common-head-menu .menu-nav .logo {
    padding: 0;
    position: absolute;
    width: auto;
    left: 50%;
    margin-left: -1.46666667rem;
    height: 1.10666667rem;
    top: 50%;
    margin-top: -0.54666667rem;
  }
  .common-height-top .common-head-menu .menu-nav .phone-menu-line {
    display: block!important;
    float: right;
    margin-right: .3rem;
    margin-top: .5rem;
    line-height: 1em;
  }
  .common-height-top .common-head-menu .menu-nav .phone-menu-line .line {
    width: 0.66666667rem;
    height: 0.66666667rem;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu {
    display: none;
    float: none;
    position: absolute;
    top: 1.6rem;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-right: 0;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu::before {
    content: "";
    display: block;
    border-top: 1px solid #FFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: scaleY(0.33333333);
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li {
    float: none;
    margin-left: 0;
    padding: 0 .3rem;
    height: auto;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li:hover a::before,
  .common-height-top .common-head-menu .menu-nav .stair-menu li.active a::before {
    display: none;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li.next-level {
    background: url(../images/down-open.png) no-repeat 9.1rem 0.53333333rem;
    background-size: 0.52rem auto;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li.click-active {
    background: url(../images/down-shut.png) no-repeat 9.2rem 0.53333333rem;
    background-size: 0.34666667rem auto;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li.click-active::before {
    display: none;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li.english-pc-none {
    display: block;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li a {
    display: block;
    text-align: left;
    line-height: 1.65333333rem;
    height: 1.65333333rem;
    color: #000;
    font-size: 0.37333333rem;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li::before {
    content: "";
    display: block;
    left: .3rem;
    right: .3rem;
    position: absolute;
    bottom: -1px;
    border-bottom: 1px solid #f4f0ea;
    transform: scaleY(0.33333333);
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li:last-child::before {
    display: none;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li .second-menu {
    display: none;
    position: relative;
    top: 0;
    width: 10rem;
    left: -0.3rem;
    margin-left: 0;
    background-color: #f4f0ea;
    padding: 0;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li .second-menu a {
    color: #000;
    width: 50%;
    float: left;
    padding: 0;
    line-height: 1.26666667rem;
    height: 1.26666667rem;
    font-size: 0.34666667rem;
    padding-left: 0.64rem;
    background: url(../images/go-to.png) no-repeat 0.18666667rem center;
    background-size: 0.32rem auto;
    border: none;
    opacity: 1;
    text-indent: 0;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li .second-menu a img {
    display: none;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li .second-menu a:nth-child(2n) {
    width: 30%;
    margin-left: 20%;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li .second-menu a::after {
    content: '';
    clear: both;
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .common-height-top .common-head-menu .menu-nav .stair-menu li .second-menu::after {
    content: '';
    clear: both;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .footer {
    padding-top: 0.93333333rem;
  }
  .footer .stair-menu {
    display: none;
  }
  .footer .copyright-message {
    padding-top: 0;
    width: 10rem;
    padding-bottom: 0.52rem;
    transform: scale(1);
    left: 0;
  }
  .footer .copyright-message a {
    font-size: 0.18666667rem;
    width: 100%;
    display: block;
    text-align: center;
  }
  .footer .copyright-message a.phone,
  .footer .copyright-message a.mail {
    margin-bottom: 0.48rem;
    padding-bottom: 0.85333333rem;
    border-bottom: 1px solid #f4f0ea;
    line-height: .38rem;
    width: 50%;
    float: left;
  }
  .footer .copyright-message a.phone {
    font-size: 0.24rem;
    display: block;
    background: url(../images/icon/call.png) no-repeat 0.6rem top;
    background-size: 0.4rem auto;
    text-align: left;
    padding-left: 1.22rem;
  }
  .footer .copyright-message a.mail {
    font-size: 0.24rem;
    text-indent: 0;
    text-align: right;
    background: url(../images/icon/mail.png) no-repeat 0.68rem top;
    background-size: 0.4rem auto;
    padding-right: .6rem;
    margin-left: 0;
  }
}
