.product-content {
  width: 1400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.product-content .product-list {
  padding-top: 90px;
  position: relative;
  padding-bottom: 76px;
}
.product-content .product-list .title {
  font-size: 40px;
  letter-spacing: 16px;
  line-height: 1em;
}
.product-content .product-list .list a {
  font-size: 20px;
  color: #26563f;
  display: inline-block;
  margin: 0 39px;
  line-height: 40px;
  position: relative;
}
.product-content .product-list .list a:hover,
.product-content .product-list .list a.active {
  text-decoration: none;
}
.product-content .product-list .list a:hover::before,
.product-content .product-list .list a.active::before {
  content: "";
  border-bottom: 4px solid #26563f;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
}
.product-content .product-list .list a.hotel {
  letter-spacing: 3px;
}
.product-content.content-filling * {
  max-width: 100%!important;
}
.product-content .product-content-list {
  width: 1440px;
}
.product-content .product-content-list .content {
  padding-bottom: 70px;
}
.product-content .product-content-list .content a {
  display: block;
  float: left;
  margin-right: 39px;
  width: 320px;
  margin-bottom: 50px;
}
.product-content .product-content-list .content a i {
  display: block;
  height: 300px;
}
.product-content .product-content-list .content a p {
  padding-top: 13px;
  line-height: 62px;
  font-size: 20px;
  border-bottom: 2px solid #202020;
  opacity: .5;
  color: #000;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-content .product-content-list .content a:hover {
  text-decoration: none;
}
.product-content .product-content-list .content a:hover p {
  opacity: 1;
}
.product-content .list-more-message {
  text-align: center;
  padding-bottom: 70px;
}
.product-content .list-more-message a {
  color: #a3a3a3;
  font-size: 14px;
  display: inline-block;
  margin: 0 6px;
  padding: 2px;
}
.product-content .list-more-message a.active {
  color: #000;
}
.product-details-date {
  padding-bottom: 230px;
}
.product-details-date .title {
  text-align: center;
  font-size: 36px;
  padding-top: 82px;
  line-height: 1em;
  padding-bottom: 20px;
}
.product-details-date .author-date {
  font-size: 24px;
  line-height: 1em;
  color: #000;
  padding-bottom: 80px;
  text-align: center;
}
.product-details-date .details-content {
  position: relative;
  padding-bottom: 50px;
  height: 4.3rem;
}
.product-details-date .details-content .swiper-slide {
  text-align: center;
  line-height: 4.3rem;
  height: 4.3rem;
}
.product-details-date .details-content img {
  max-width: 100%;
  display: inline-block;
  max-height: 100%;
  vertical-align: middle;
}
.product-details-date .swiper-container {
  width: 960px;
  padding: 0 54px;
  position: relative;
}
.product-details-date .swiper-container::after,
.product-details-date .swiper-container::before {
  content: "";
  display: blcok;
  width: 40px;
  background: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  z-index: 99;
}
.product-details-date .swiper-container::before {
  left: auto;
  right: 0;
}
.product-details-date .swiper-container .swiper-slide {
  width: 200px;
  height: 160px;
  line-height: 160px;
  opacity: .5;
  cursor: pointer;
  border: 1px solid #ccc;
  text-align: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 0;
}
.product-details-date .swiper-container .swiper-slide.active {
  opacity: 1;
}
.product-details-date .swiper-container .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.product-details-date .swiper-container .swiper-button-prev,
.product-details-date .swiper-container .swiper-container-rtl .swiper-button-next {
  z-index: 9999;
  left: 0;
}
.product-details-date .swiper-container .swiper-button-next,
.product-details-date .swiper-container .swiper-container-rtl .swiper-button-prev {
  z-index: 9999;
  right: 0;
}
@media screen and (max-width: 1530px) {
  .product-content {
    width: 1080px;
  }
  .product-content .product-list {
    width: 1110px;
  }
  .product-content .product-content-list {
    width: 1140px;
  }
  .product-content .product-content-list .content a {
    margin-right: 56px;
  }
  .product-content .product-content-list .product-details-date {
    width: 1080px;
  }
}
@media screen and (max-width: 1280px) {
  .product-content {
    width: 769px;
  }
  .product-content .product-list {
    width: 786px;
  }
  .product-content .product-list .list a {
    margin: 0 17px;
  }
  .product-content .product-content-list {
    width: 919px;
  }
  .product-content .product-content-list .content {
    padding-bottom: 30px;
  }
  .product-content .product-content-list .content a {
    margin-right: 128px;
  }
  .product-content .product-content-list .product-details-date {
    width: 769px;
  }
  .product-content .product-content-list .product-details-date .swiper-container {
    width: 660px;
  }
}
@media screen and (max-width: 950px) {
  .product-content {
    width: 730px;
  }
  .product-content .product-list {
    width: 744px;
  }
  .product-content .product-content-list {
    width: 819px;
  }
  .product-content .product-content-list .content a {
    margin-right: 89px;
  }
  .product-content .product-content-list .product-details-date {
    width: 730px;
  }
  .product-content .product-content-list .product-details-date .swiper-container {
    width: 661px;
    padding: 24px;
  }
  .product-content .list-more-message {
    position: relative;
    left: -45px;
  }
  .product-details-date .swiper-container {
    width: 588px;
  }
  .product-details-date .swiper-container .swiper-slide {
    width: 139.5px;
    height: 110.9px;
    line-height: 110.9px;
  }
  .product-details-date .swiper-container::after,
  .product-details-date .swiper-container::before {
    width: 26px;
  }
}
@media screen and (max-width: 750px) {
  .details-phone-none {
    display: none;
  }
  .phone-bottom-none {
    border: none!important;
  }
  .product-content {
    width: 10rem;
  }
  .product-content .product-list {
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.66666667rem;
  }
  .product-content .product-list .title {
    float: none;
    font-size: 0.48rem;
    letter-spacing: 1px;
    padding: 0 .3rem;
    padding-bottom: 0.53333333rem;
    border-bottom: 0.18666667rem solid #f4f0ea;
  }
  .product-content .product-list .list {
    float: none;
  }
  .product-content .product-list .list a {
    width: 25%;
    margin: 0;
    float: left;
    display: block;
    font-size: 0.26666667rem;
    text-align: center;
    padding-top: 0.08rem;
    line-height: 0.90666667rem;
  }
  .product-content .product-list .list a:hover::before,
  .product-content .product-list .list a.active::before {
    border-bottom: 0.08rem solid #26563f;
    bottom: -0.08rem;
    right: auto;
    left: 50%;
    margin-left: -0.9rem;
    width: 1.8rem;
  }
  .product-content .product-content-list {
    padding: 0;
    width: 100%;
  }
  .product-content .product-content-list .content {
    padding-left: 0.61333333rem;
    width: 10.6rem;
  }
  .product-content .product-content-list .content a {
    width: 4.21333333rem;
    margin-right: 0.34666667rem;
    margin-bottom: 0;
  }
  .product-content .product-content-list .content a i {
    height: 3.94666667rem;
  }
  .product-content .product-content-list .content a p {
    border: none;
    padding: 0;
    line-height: 1.04rem;
    font-size: 0.26666667rem;
  }
  .product-content .product-content-list .product-details-date {
    width: 10rem;
  }
  .product-content .product-content-list .target {
    padding: 0;
    border-bottom: 1px solid #000;
  }
  .product-content .product-content-list .target span {
    display: none;
  }
  .product-content .product-content-list .target a {
    font-size: 0.48rem;
    line-height: 1.36rem;
  }
  .product-content .product-content-list .target .position-absolute-right {
    display: block;
  }
  .product-content .product-content-list .about-business-list {
    margin-top: 0.61333333rem;
  }
  .product-content .product-content-list .about-business-list li .first {
    padding: 0.22666667rem 0.16rem;
    font-size: 0.37333333rem;
  }
  .product-content .product-content-list .about-business-list li .text {
    padding: 0.22666667rem 1.02666667rem;
    font-size: 0.33333333rem;
    line-height: 1.4em;
  }
  .product-content .product-content-list .about-content {
    padding-bottom: .3rem;
  }
  .product-content .product-content-list .about-content .title {
    font-size: 0.48rem;
    padding-top: 0.46666667rem;
    padding-bottom: 0.4rem;
    display: none;
  }
  .product-content .product-content-list .about-content .content-text {
    font-size: 0.26666667rem;
    text-indent: 0.53333333rem;
    padding-top: 0.53333333rem;
  }
  .product-content .list-more-message {
    width: 10rem;
    left: 0;
    padding-bottom: 0.86666667rem;
  }
  .product-content .list-more-message a {
    font-size: 0.26666667rem;
    margin: 0 3px;
  }
  .product-details-date {
    padding-bottom: .3rem;
  }
  .product-details-date .title {
    font-size: 0.48rem;
    padding-top: 0.46666667rem;
    padding-bottom: 0.6rem;
    border-bottom: 0.18666667rem solid #f4f0ea;
    text-align: left;
    text-indent: .3rem;
  }
  .product-details-date .author-date {
    padding-bottom: 0.45333333rem;
    font-size: 0.21333333rem;
    display: none;
  }
  .product-details-date .details-content {
    padding-bottom: 0;
    margin-bottom: 0.26666667rem;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 9.4rem;
    margin: 0 auto;
    padding-top: 0.82666667rem;
  }
  .product-details-date .details-content img {
    width: 100%;
    height: auto;
    max-height: none;
    display: block;
  }
  .product-details-date .details-content .swiper-slide {
    height: auto;
    line-height: normal;
  }
  .product-details-date .swiper-container {
    padding: 0!important;
    width: 9.4rem!important;
    height: auto;
    margin-top: 0.29333333rem;
  }
  .product-details-date .swiper-container .swiper-slide {
    width: 2.13333333rem;
    height: 1.70666667rem;
    line-height: 1.70666667rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
  }
  .product-details-date .swiper-container::after,
  .product-details-date .swiper-container::before {
    display: none;
  }
  .product-details-date .swiper-button-black {
    display: none;
  }
}
