// .product-banner{
//     width: 100%;
//     position:relative;
//     overflow: hidden;
//     .product-banner-img{
//         display: block;
//         width: 100%;
//     }
// }
.product-content{
    width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .product-list{
        padding-top: 130px;
        position: relative;
        padding-bottom: 90px;
        .title{
            font-size: 40px;
            letter-spacing: 16px;
            line-height: 1em;
        }
        .list{
            a{
                font-size: 20px;
                color: #26563f;
                display: inline-block;
                margin: 0 39px;
                line-height: 40px;
                position: relative;
                &:hover,&.active{
                    text-decoration: none;
                    &::before{
                        content: "";
                        border-bottom: 4px solid #26563f;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        right: 0;
                    }
                }
                &.hotel{
                    letter-spacing: 3px;
                }
            }
        }
    }
    &.content-filling{
        *{
            max-width: 100%!important;
        }
    }
    .product-content-list{
        width: 1400+40px;
        .content{
            padding-bottom: 70px;
            a{
                display: block;
                float: left;
                margin-right: 39px;
                width: 320px;
                margin-bottom: 50px;
                i{
                    display: block;
                    height: 300px;
                }
                p{
                    padding-top: 13px;
                    line-height: 62px;
                    font-size: 20px;
                    border-bottom: 2px solid #202020;
                    opacity: .5;
                    color: #000;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &:hover{
                    text-decoration: none;
                    p{
                        opacity: 1;
                    }
                }
            }
        }
    }
    // 更多
    .list-more-message{
        text-align: center;
        padding-bottom: 70px;
        a{
            color: #a3a3a3;
            font-size: 14px;
            display: inline-block;
            margin: 0 6px;
            padding: 2px;
            &.active{
                color: #000;
            }
        }
    }
}
// 产品详情页
.product-details-date{
    padding-bottom: 230px;
    .title{
        text-align: center;
        font-size: 36px;
        padding-top: 82px;
        line-height: 1em;
        padding-bottom: 20px;
    }
    .author-date{
        font-size: 24px;
        line-height: 1em;
        color: #000;
        padding-bottom: 80px;
        text-align: center;
    }
    .details-content{
        position: relative;
        padding-bottom: 50px;
        height: 4.3rem;
        .swiper-slide{
            text-align: center;
            line-height: 4.3rem;
            height: 4.3rem;
        }
        img{
            max-width: 100%;
            display: inline-block;
            // display: none;
            max-height: 100%;
            vertical-align: middle;
        }
    }
    .swiper-container{
        width: 960px;
        padding: 0 (1068-960)/2px;
        position: relative;
        &::after,&::before{
            content: "";
            display: blcok;
            width: 40px;
            background: #FFF;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            left: 0;
            z-index: 99;
        }
        &::before{
            left: auto;
            right: 0;
        }
        .swiper-slide{
            width: 200px;
            height: 160px;
            line-height: 160px;
            opacity: .5;
            cursor: pointer;
            border: 1px solid #ccc;
            text-align: center;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            font-size: 0;
            &.active{
                opacity: 1;
            }
            img{
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
            z-index: 9999;
            left: 0;
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
            z-index: 9999;
            right: 0;
        }
    }
}
@media screen and (max-width: 1530px) {
    .product-content {
        width: 1080px;
        .product-list{
            width: 1080+30px;
        }
        .product-content-list{
            width: 1080+60px;
            .content{
                a{
                    margin-right: 56px;
                }
            }
            .product-details-date{
                width: 1080px;
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    .product-content {
        width: 769px;
        .product-list{
            width: 769+17px;
            .list{
                a{
                    margin: 0 17px;
                }
            }
        }
        .product-content-list{
            width: 769+150px;
            .content{
                padding-bottom: 30px;
                a{
                    margin-right: 128px;
                }
            }
            .product-details-date{
                width: 769px;
                .swiper-container{
                    width: 660px;
                }
            }
        }
    }
}
@media screen and (max-width: 950px) {
    .product-content{
        width: 730px;
        .product-list{
            width: 744px;
        }
        .product-content-list{
            width: 730+89px;
            .content a{
                margin-right: 89px;
            }
            .product-details-date{
                width: 730px;
                .swiper-container{
                    width: 661px;
                    padding: 24px;
                }
            }
        }
        .list-more-message{
            position: relative;
            left: -45px;
        }
    }
    .product-details-date .swiper-container {
        width: 588px;
        .swiper-slide {
            width: 139.5px;
            height: 110.9px;
            line-height: 110.9px;
        }
        &::after,&::before{
            width: 26px;
        }
    }
}
@media screen and (max-width: 750px) {
    .details-phone-none{
        display: none;
    }
    .phone-bottom-none{
        border: none!important;
    }
    .product-content{
        // padding: 0 .3rem;
        width: 10rem;
        // width: 10rem;
        .product-list{
            width: 100%;
            padding-top: 45/75rem;
            padding-bottom: 50/75rem;
            .title{
                float: none;
                font-size: 36/75rem;
                letter-spacing: 1px;
                padding: 0 .3rem;
                padding-bottom: 40/75rem;
                border-bottom: 14/75rem solid #f4f0ea;
            }
            .list{
                float: none;
                a{
                    width: 25%;
                    margin: 0;
                    float: left;
                    display: block;
                    font-size: 20/75rem;
                    text-align: center;
                    padding-top: 6/75rem;
                    line-height: (24*2+20)/75rem;
                    &:hover,&.active{
                        &::before{
                            border-bottom: 6/75rem solid #26563f;
                            bottom: -6/75rem;
                            right: auto;
                            left: 50%;
                            margin-left: -.9rem;
                            width: 1.8rem;
                        }
                    }
                }
            }
        }
        .product-content-list{
            padding: 0;
            width: 100%;
            .content{
                padding-left: 46/75rem;
                width: 10.6rem;
                a{
                    width: 316/75rem;
                    margin-right: 26/75rem;
                    margin-bottom: 0;
                    i{
                        height: 296/75rem;
                    }
                    p{
                        border: none;
                        padding: 0;
                        line-height: 78/75rem;
                        font-size: 20/75rem;
                    }
                }
            }
            .product-details-date{
                width: 10rem;
            }
            .target{
                padding: 0;
                border-bottom: 1px solid #000;
                span{
                    display: none;
                }
                a{
                    font-size: 36/75rem;
                    line-height: 102/75rem;
                }
                .position-absolute-right{
                    display: block;
                }
            }
            .about-business-list{
                margin-top: 46/75rem;
                li{
                    .first {
                        padding: 17/75rem 12/75rem;
                        font-size: 28/75rem;
                    }
                    .text {
                        padding: 17/75rem 77/75rem;
                        font-size: 25/75rem;
                        line-height: 1.4em;
                    }
                }

            }
            .about-content{
                padding-bottom: .3rem;
                .title{
                    font-size: 36/75rem;
                    padding-top: 35/75rem;
                    padding-bottom: 30/75rem;
                    display: none;
                }
                .content-text{
                    font-size: 20/75rem;
                    text-indent: 40/75rem;
                    padding-top: 40/75rem;
                }
            }
        }
        .list-more-message{
            width: 10rem;
            left: 0;
            padding-bottom: 65/75rem;
            a{
                font-size: 20/75rem;
                margin: 0 3px;
            }
        }
    }
    .product-details-date{
        padding-bottom: .3rem;
        .title{
            font-size: 36/75rem;
            padding-top: 35/75rem;
            padding-bottom: 45/75rem;
            border-bottom: 14/75rem solid #f4f0ea;
            text-align: left;
            text-indent: .3rem;
        }
        .author-date{
            padding-bottom: 34/75rem;
            font-size: 16/75rem;
            display: none;
        }
        .details-content{
            padding-bottom: 0;
            margin-bottom: 20/75rem;
            height: auto;
            position: relative;
            overflow: hidden;
            width: 9.4rem;
            margin: 0 auto;
            padding-top: 62/75rem;
            img{
                width: 100%;
                height: auto;
                max-height: none;
                max-height: none;
                display: block;
            }
            .swiper-slide{
                height: auto;
                line-height: normal;
            }
        }
        .swiper-container{
            padding: 0!important;
            width: 9.4rem!important;
            height: auto;
            margin-top: 22/75rem;
            .swiper-slide{
                width: 160/75rem;
                height: 128/75rem;
                line-height: 128/75rem;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border: none;
            }
            &::after,&::before{
                display: none;
            }
        }
        .swiper-button-black{
            display: none;
        }
    }
}