.relation-centent {
  width: 1400px;
  margin: 0 auto;
}
.relation-centent .relation-details-text {
  line-height: 1.6em;
  color: #000;
  padding-top: 39px;
  padding-bottom: 50px;
  font-size: 21px;
}
.relation-centent .address {
  position: relative;
  width: 100%;
  height: 628px;
  margin-bottom: 144px;
}
@media screen and (max-width: 1530px) {
  .relation-centent {
    width: 1080px;
  }
  .relation-centent .address {
    height: 550px;
  }
}
@media screen and (max-width: 1280px) {
  .relation-centent .relation-details-text {
    font-size: 20px;
  }
  .relation-centent .address {
    height: 363px;
  }
}
@media screen and (max-width: 880px) {
  .relation-centent {
    max-width: 720px;
  }
  .relation-centent .address {
    height: 373px;
  }
}
@media screen and (max-width: 750px) {
  .product-banner {
    padding-top: 1.6rem;
  }
  .relation-centent {
    padding: 0 .3rem;
    width: 10rem;
  }
  .relation-centent .address {
    padding-bottom: .3rem;
    height: 5.25333333rem;
  }
}
